.profile-picture {
    border: 2px solid #ff5147;
    border-radius: 50%;
    max-width: 90%;
    margin-top: 20px;
    align-self: center;
}

.profile-title {
    color: #276174;
}

.profile-text {
    color: #276174;
}