@media only screen and (max-width: 1260px) {
    .profile-page-full {
      width: 150vh !important;
    }
}

@media only screen and (max-width: 1260px) {
    .profile-left-info {
      height: 150vh !important;
      width: 135vh !important;
    }
}

@media only screen and (max-width: 1260px) {
    .admin-left-info {
      height: 100vh !important;
      width: 135vh !important;
    }
}

@media only screen and (max-width: 1260px) {
    .profile-picture {
      height: 100vh !important;
      width: 75vh !important;
      margin-top: 5% !important;
    }
}

@media only screen and (max-width: 1260px) {
    .profile-event-card {
      height: 75vh !important;
      width: 135vh !important;
      margin-top: 5% !important;
    }
}

@media only screen and (max-width: 1260px) {
    .event-carousel {
      height: 50vh !important;
      width: 100vh !important;
    }
}

@media only screen and (max-width: 1260px) {
    .event-carousel-img {
      height: 50vh !important;
      width: 100vh !important;
      margin-right: 50% !important;
    }
}

@media only screen and (max-width: 1260px) {
    .event-carousel-h3 {
      margin-right: 50% !important;
    }
}

@media only screen and (max-width: 1260px) {
    .event-carousel-p {
      margin-right: 50% !important;
    }
}


@media only screen and (max-width: 1260px) {
    .change-name-div {
      width: 100vh !important;
      margin-left: 50% !important;
    }
}

.profile-left-info {
    height: 119vh;
    background-color: cadetblue;
}

.admin-left-info {
    height: 85vh;
    background-color: cadetblue;
}

.profile-picture {
    height: 40vh;
    border: 6px solid #276174;
    border-radius: 50%;
    max-width: 85%;
    margin-top: 20%;
    align-self: center;
}

.profile-page-full {
    max-width: 70%;
    margin: auto;
    margin-top: 2.5%;
}

.profile-user-details {
    padding-top: 40px;
}

.profile-event-card {
    height: 60vh;
    border-radius: 10px;
    border: 4px solid #276174;
    background-color: ghostwhite;
}

.profile-title {
    height: 5%;
    text-align: left;
    color: #276174;
    font-size: xx-large;
    font-weight: 600;
    padding: 2.5% 0% 0% 5%;
}

.event-carousel {
    width: fit-content;
    height: 500px;
}

.event-carousel-img {
    border-radius: 10px;
    margin-top: 2.5%;
    height: 35vh;
    cursor: pointer;
}

.event-carousel-h3 {
    color: white;
    font-size: xx-large;
    /*https://stackoverflow.com/questions/4772906/css-is-it-possible-to-add-a-black-outline-around-each-character-in-text*/
    text-shadow: #276174 3px 0px 0px, #276174 2.83487px 0.981584px 0px, #276174 2.35766px 1.85511px 0px, #276174 1.62091px 2.52441px 0px, #276174 0.705713px 2.91581px 0px, #276174 -0.287171px 2.98622px 0px, #276174 -1.24844px 2.72789px 0px, #276174 -2.07227px 2.16926px 0px, #276174 -2.66798px 1.37182px 0px, #276174 -2.96998px 0.42336px 0px, #276174 -2.94502px -0.571704px 0px, #276174 -2.59586px -1.50383px 0px, #276174 -1.96093px -2.27041px 0px, #276174 -1.11013px -2.78704px 0px, #276174 -0.137119px -2.99686px 0px, #276174 0.850987px -2.87677px 0px, #276174 1.74541px -2.43999px 0px, #276174 2.44769px -1.73459px 0px, #276174 2.88051px -0.838247px 0px;
}

.event-carousel-p {
    color: white;
    font-size: x-large;
    /*https://stackoverflow.com/questions/4772906/css-is-it-possible-to-add-a-black-outline-around-each-character-in-text*/
    text-shadow: #276174 3px 0px 0px, #276174 2.83487px 0.981584px 0px, #276174 2.35766px 1.85511px 0px, #276174 1.62091px 2.52441px 0px, #276174 0.705713px 2.91581px 0px, #276174 -0.287171px 2.98622px 0px, #276174 -1.24844px 2.72789px 0px, #276174 -2.07227px 2.16926px 0px, #276174 -2.66798px 1.37182px 0px, #276174 -2.96998px 0.42336px 0px, #276174 -2.94502px -0.571704px 0px, #276174 -2.59586px -1.50383px 0px, #276174 -1.96093px -2.27041px 0px, #276174 -1.11013px -2.78704px 0px, #276174 -0.137119px -2.99686px 0px, #276174 0.850987px -2.87677px 0px, #276174 1.74541px -2.43999px 0px, #276174 2.44769px -1.73459px 0px, #276174 2.88051px -0.838247px 0px;
}

.carousel-indicators {
    color: cadetblue;
}

.carousel-indicators .active {
    opacity: 0;
}

.profile-create-event-btn {
    margin-top: 6%;
    align-self: center;
    width: 40% !important;
    font-weight: 600;
    --bs-btn-color: #276174 !important;
    --bs-btn-bg: #63FD88 !important;
    --bs-btn-border-color: #276174 !important;
    --bs-btn-hover-color: #276174 !important;
    --bs-btn-hover-bg: #33C58E !important;
    --bs-btn-hover-border-color: #33C58E !important;
    --bs-btn-focus-shadow: #276174 !important;
    --bs-btn-active-color: #276174 !important;
    --bs-btn-active-bg: #63FD88 !important;
    --bs-btn-active-border-color: #33C58E !important;
    --bs-btn-disabled-color: #63FD88 !important;
    --bs-btn-disabled-border-color: #276174 !important;
}

.user-name-profile {
    font-size: xxx-large;
    font-weight: 700;
    color: whitesmoke;
    /*https://stackoverflow.com/questions/4772906/css-is-it-possible-to-add-a-black-outline-around-each-character-in-text*/
    text-shadow: #276174 5px 0px 0px, #276174 2.83487px 0.981584px 0px, #276174 2.35766px 1.85511px 0px, #276174 1.62091px 2.52441px 0px, #276174 0.705713px 2.91581px 0px, #276174 -0.287171px 2.98622px 0px, #276174 -1.24844px 2.72789px 0px, #276174 -2.07227px 2.16926px 0px, #276174 -2.66798px 1.37182px 0px, #276174 -2.96998px 0.42336px 0px, #276174 -2.94502px -0.571704px 0px, #276174 -2.59586px -1.50383px 0px, #276174 -1.96093px -2.27041px 0px, #276174 -1.11013px -2.78704px 0px, #276174 -0.137119px -2.99686px 0px, #276174 0.850987px -2.87677px 0px, #276174 1.74541px -2.43999px 0px, #276174 2.44769px -1.73459px 0px, #276174 2.88051px -0.838247px 0px;
}

.profile-email {
    font-size: large;
    font-weight: 800;
}

.profile-left {
    padding: 0px;
    border: 4px solid #276174;
    border-radius: 10px;
}

.profile-right {
    padding: 0px;
    text-align: -webkit-center;
}

.change-prof-pic {
    font-size: small;
    margin-top: 10px;
    max-width: max-content;
    align-self: center;
    --bs-btn-color: whitesmoke !important;
    --bs-btn-bg: #ff5147 !important;
    --bs-btn-hover-bg: #fa7d75 !important;
    --bs-btn-active-bg: #ff5147 !important;
}

.account-settings-offcanvas {
    border: 4px solid #276174;
}

.account-settings-body {
    margin-top: 20%;
    color: #276174;
    text-align: center;
}

.account-settings-btn {
    font-weight: 600;
    --bs-btn-color: #276174;
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #276174;
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #276174;
    --bs-btn-disabled-bg: none;
    --bs-btn-disabled-border-color: none;
}

.account-settings-options {
    margin-top: 20%;
}

.settings-option:hover {
    color:#ff5147;
    cursor: pointer;
}

.interested-event-info {
    color: #276174;
    text-align: left;
    border: 2px solid #ff5147;
    border-radius: 10px;
    padding-top: 5px;
    margin: 0.5%;
    cursor: pointer;
}

.update-bio {
    padding-bottom: 10px;
    font-size: medium !important;
}

.user-bio {
    padding: 20px 40px 40px 40px;
    font-style: italic;
    font-size: x-large;
    color: whitesmoke;
}

.bio-btn {
    margin-top: 10%;
}

.change-name-div {
    width: 40%;
    margin: auto;
    margin-top: 5%;
    align-items: center;
}

.change-title {
    color: #276174;
    margin-top: 30px;
}

.change-title-password {
    color: #276174;
    margin-top: 30px;
    margin-bottom: 5%;
}

.change-label {
    margin-top: 5%;
    color: #276174;
    float: left;
}

.change-input {
    width: 100%;
    margin-bottom: 5%;
}

.change-btn {
    max-width: min-content;
    margin-bottom: 30px;
    margin-left: 1%;
    margin-right: 1%;
}

.change-options {
    width: -webkit-fill-available;
    text-align: -webkit-center;
}

.admin-tasks-btn {
    color: white;
    background-color: #ff5147;
    --bs-btn-hover-bg: red;
    --bs-btn-active-bg: red;
    border-radius: 10px;
    padding: 2% 5% 2% 5%;
    border: #ff5147;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: larger;
}

.admin-tabs {
    --bs-nav-link-hover-color: white;
    --bs-nav-link-color: white;
}

.admin-view-card {
    max-width: min-content;
    height: 90% !important;
    border-radius: 20px;
    border: 2px solid #276174;
    background-color: #276174;
}

.admin-event-name {
    height: 1%;
}

.admin-event-info {
    margin: auto;
    color: white;
}

.admin-event-btn {
    font-weight: 500;
    margin-top: 2%;
    margin: 1%;
    color: white;
    background-color: #276174;
    border-radius: 10px;
    padding: 1% 5% 1% 5%;
    border: #ff5147;
    font-size: large;
}

.add-featured-btn {
    font-weight: 500;
    margin-top: 2%;
    margin: 1%;
    color: white;
    background-color: #ff5147;
    border-radius: 10px;
    padding: 1% 5% 1% 5%;
    border: #ff5147;
    font-size: large;
    margin-top: 5%;
    width: 50%;
}

.add-featured-btn:hover {
    background-color: #ff5147;
}

.admin-event-btn:hover {
    color: #276174;
    background-color: white;
}

.approval-page {
    margin-top: 3%;
    margin-left: 5%;
}

.delete-account-div {
    color: #276174;
    width: 40%;
    margin: auto;
    margin-top: 5%;
    align-items: center;
}

.delete-account-header {
    text-align: center;
    padding: 5%;
}

.delete-account-h2 {
    text-align: center;
}

.delete-account-btn {
    font-size: larger;
    font-weight: 600;
    margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%;
    width: 50%;
    --bs-btn-color: #276174 !important;
    --bs-btn-bg: #63FD88 !important;
    --bs-btn-border-color: #63FD88 !important;
    --bs-btn-hover-color: #276174 !important;
    --bs-btn-hover-bg: #33C58E !important;
    --bs-btn-hover-border-color: #33C58E !important;
    --bs-btn-focus-shadow: #276174 !important;
    --bs-btn-active-color: #276174 !important;
    --bs-btn-active-bg: #63FD88 !important;
    --bs-btn-active-border-color: #33C58E !important;
    --bs-btn-disabled-color: #63FD88 !important;
    --bs-btn-disabled-border-color: #276174 !important;
}

.delete-account-btns {
    margin-bottom: 5%;
    width: -webkit-fill-available;
    text-align: center;
}

.nothing-to-show {
    padding: 30.35%;
}