.create-event {
   width: 60%;
   align-items: center;
}

.create-event-header {
    margin: 30px;
}

.create-event-form {
    width: 80%;
}

.create-input {
    margin-bottom: 30px;
    min-width: -webkit-fill-available;
}

.long-input {
    border: 2px solid #276174;
}

.file-upload {
    margin-top: 10px;
}

.create-check {
    margin-left: 20px;
}

.create-event-h2 {
    padding-left: 50px;
    padding-right: 50px;
}

.back-to-home:hover {
    font-style: italic;
}

.create-event-btn {
    margin-top: 30px;
    margin-bottom: 30px;
}