.event-p {
    color: #276174;
    padding-left: 30px;
    text-align: justify;
    text-justify: inter-word;
}

.event-tabs {
    margin-bottom: 0 !important;
    margin-top: 20px !important;
}

.create-event{
    color:#276174;
    max-width: 800%;
    margin: auto;
    margin-top: 100px;
}

/*text in banner*/
.event-name-h1 {
    border: solid;
    border-radius: 10px;
    padding: 10px;
    /*https://stackoverflow.com/questions/4772906/css-is-it-possible-to-add-a-black-outline-around-each-character-in-text*/
    text-shadow: #276174 3px 0px 0px, #276174 2.83487px 0.981584px 0px, #276174 2.35766px 1.85511px 0px, #276174 1.62091px 2.52441px 0px, #276174 0.705713px 2.91581px 0px, #276174 -0.287171px 2.98622px 0px, #276174 -1.24844px 2.72789px 0px, #276174 -2.07227px 2.16926px 0px, #276174 -2.66798px 1.37182px 0px, #276174 -2.96998px 0.42336px 0px, #276174 -2.94502px -0.571704px 0px, #276174 -2.59586px -1.50383px 0px, #276174 -1.96093px -2.27041px 0px, #276174 -1.11013px -2.78704px 0px, #276174 -0.137119px -2.99686px 0px, #276174 0.850987px -2.87677px 0px, #276174 1.74541px -2.43999px 0px, #276174 2.44769px -1.73459px 0px, #276174 2.88051px -0.838247px 0px;
    background-color: none;
}

.event-name-h2 {
    text-align: left;
    border-radius: 10px;
    padding-left: 40px;
    }

.event-name-h4 {
    padding: 10px;
    /*https://stackoverflow.com/questions/4772906/css-is-it-possible-to-add-a-black-outline-around-each-character-in-text*/
    text-shadow: #276174 3px 0px 0px, #276174 2.83487px 0.981584px 0px, #276174 2.35766px 1.85511px 0px, #276174 1.62091px 2.52441px 0px, #276174 0.705713px 2.91581px 0px, #276174 -0.287171px 2.98622px 0px, #276174 -1.24844px 2.72789px 0px, #276174 -2.07227px 2.16926px 0px, #276174 -2.66798px 1.37182px 0px, #276174 -2.96998px 0.42336px 0px, #276174 -2.94502px -0.571704px 0px, #276174 -2.59586px -1.50383px 0px, #276174 -1.96093px -2.27041px 0px, #276174 -1.11013px -2.78704px 0px, #276174 -0.137119px -2.99686px 0px, #276174 0.850987px -2.87677px 0px, #276174 1.74541px -2.43999px 0px, #276174 2.44769px -1.73459px 0px, #276174 2.88051px -0.838247px 0px;
}

.event-img-card {
    max-width: fit-content;
    margin-top: 50px;
}

/*entire event - banner card and info card*/
.event-full {
    width: min-content;
    margin: auto;
}

.event-title {
    padding-top: 50px;
    padding-left: 40px;
}

/*displaying where to get tickets on event page*/
.tickets-card {
    margin: 50px 30px 0px 50px;
    background-color: #ff5147;
}

.tickets-text {
    padding-top: 10px;
    text-justify: inter-word;
    font-size: revert !important;
    text-align-last: center;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #276174;
}

.accordion {
    margin-right: 30px;
    --bs-accordion-color: #276174;
    --bs-accordion-border-width: 0px;
    --bs-accordion-btn-color: #276174;
    --bs-accordion-btn-focus-border-color: white;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem white;
    --bs-accordion-body-padding-y: 0.1rem;
    --bs-accordion-active-color: #ff5147;
    --bs-accordion-active-bg: white;
}

/*comment formatting*/
.comments-toast {
    margin: auto;
    margin-bottom: 30px;
    width: auto;
    
}

/*space out bottom of event page*/
.event-bottom-card {
    margin-bottom: 50px;
}

.event-description {
    padding-left: 20px;
}

.event-stats {
    padding: 5px;
    max-width: 250px;
    border-radius: 10px;
    margin: auto;
    align-items: center;
    align-self: center;
    text-align: center;
    color: white;
    background-color: #276174;
}