video {
position: fixed;
padding-top: 50px;
width: 85%;
}

.home-page-full{
    text-align: -webkit-center;
}

.carousel-inner {
    height: 50vh;
    min-height: 860px;
    min-width: auto;
}

.container-fluid {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding: none;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.carousel-caption-1 {
    background-color: #ff5147;
    border-radius: 20px;
    bottom: initial;
    top: 30%;
    left: 30%;
    right: 30%;
}

.carousel-caption-2 {
    background-color: #a668f2;
    border-radius: 20px;
    bottom: initial;
    top: 30%;
    left: 30%;
    right: 30%;
}

.carousel-caption-3 {
    padding: 20px;
    background-color: #f5c011;
    border-radius: 20px;
    bottom: initial;
    top: 30%;
    left: 30%;
    right: 30%;
}

.home-featured-events {
    background-color: whitesmoke;
    border-radius: 20px;
    color: #276174;
    font-weight: 600;
    max-width: 1600px;
    margin: 50px;
    border: 2px solid #ff5147;
}

.h1-featured {
    padding-top: 50px;
}

.home-event-cards {
    padding: 100px;
    display: flex;
}

/*individual event cards*/
.featured-card {
    background-color: white;
    border-radius: 20px;
    border: 3px solid #276174;
    cursor: pointer;
    margin-bottom: 30px;
}

.featured-card-size {
    margin: auto;
    width: 45%;
}

.home-card-body{
    height: 250px;
    width: 500px;
    align-self: center;
    font-size: larger;
}

.event-img-home {
    height: 450px;
    border-radius: 20px 20px 0px 0px;
    border: 3px solid #276174;
}