/*image side of login*/
.col-md-7 {
    background-color: #ff5147;
    border-radius: 10px 0px 0px 10px;
}

.img-fluid {
    padding-top: 60px;
}

/*link to register page - keeps all font in this line the same*/
.reg-link {
    color: #276174 !important;
    font-size: large !important;
}

/*login card as a whole*/
.login-card {
    border: none !important;
    border-radius: 10px !important;
    color: #276174;
    background-color: whitesmoke;
    margin: auto;
    margin-top: 75px;
}

/*column containing login*/
.col-md-5 {
    color: #276174;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-radius: 10px;
}

/*login header*/
.SignIn-header {
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: x-large;
    color: #ff5147;
}

/*register account link*/
h2 {
    color: #276174;
    text-align: center;
    padding-bottom: 40px;
    font-size: 1.2rem !important;
}

/*keep me signed in checkbox*/
.form-check {
    padding-top: 10px;
}

/*input box style*/
.login {
    border-radius: 0px;
    border: none;
    background-color: white;
    border-bottom: 2px solid #276174;
}

/*style when user clicks into input box*/
.login:focus {
    background-color: whitesmoke;
    box-shadow: none;
    border-bottom: 2px solid #63FD88;
}

/*login button design*/
.login-btn {
    width: -webkit-fill-available !important;
    --bs-btn-color: #276174 !important;
    --bs-btn-bg: #63FD88 !important;
    --bs-btn-border-color: #63FD88 !important;
    --bs-btn-hover-color: #276174 !important;
    --bs-btn-hover-bg: #33C58E !important;
    --bs-btn-hover-border-color: #33C58E !important;
    --bs-btn-focus-shadow: #276174 !important;
    --bs-btn-active-color: #276174 !important;
    --bs-btn-active-bg: #63FD88 !important;
    --bs-btn-active-border-color: #33C58E !important;
    --bs-btn-disabled-color: #63FD88 !important;
    --bs-btn-disabled-border-color: #276174 !important;
}