.col-md-2 {
    margin-top: 140px;
    text-align: justify;
    font-size: xx-large;
}

/*event filter at top of page*/
.whatson-filter {
    padding-left: 80px;
    margin-top: 60px;
    width: fit-content;
}

/*individual event cards*/
.whatson-card {
    min-width: fit-content;
    color: #276174;
    cursor: pointer;
}

.card-title {
    color: #ff5147;
}

/*entire column of event cards*/
.g-4 {
    margin-top: auto;
}

.card-text {
    margin-bottom: 0;
}

/*side menu text*/
.sidemenu-items {
    text-decoration-line: none;
    color: whitesmoke !important;
    font-size: x-large;
}

/*side menu text hover*/
.sidemenu-items:hover {
    color: #63FD88 !important;
    text-decoration-line: none;
}

/*side menu*/
.sidebar-nav {
    list-style: none;
}

.event-img{
    height: inherit;
}

.btn-primary {
    --bs-btn-color: whitesmoke;
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: whitesmoke;
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: none;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: none;
    --bs-btn-disabled-border-color: none;
}