/*sign up card*/
.signup-card {
    max-width: 60%;
    margin: auto;
    margin-top: 100px;
    color: #276174;
}

/*sign up title*/
.signup-title {
    padding-top: 50px;
}

/*entire form*/
.signup-form {
    margin-top: 10px;
    padding: 0px 50px 0px 50px;
    margin-bottom: 50px;
}

.form-group {
    padding-top: 15px;
    padding-bottom: 20px;
}

.form-check-input:checked {
    background-color: #276174;
}


