.footer-full {
    left:0;
    bottom:0;
    right:0;
    place-content: center;
    background-color: #276174;
    margin-top: 6%;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    min-width: max-content;
}

.logo-footer {
    margin-bottom: 5px;
}

hr {
    border: 2px solid #63FD88;
    width: 50%;
    margin: auto;
}

.footer-contact-us {
    margin-top: 20px;
}

.footer-info {
    font-size: medium;
    font-weight: 300;
    cursor: pointer;
}

.footer-info:hover {
    color: white;
}

.footer-header {
    padding-top: 15px;
}

.footer-col {
    margin-left: 20px;
    margin-right: 20px;
}