body {
  /* https://www.w3schools.com/css/css3_gradients.asp */
  background-image: linear-gradient(to bottom right, #276174, #33C58E, #63FD88);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: whitesmoke;
  font-family: sans-serif;
}

span {
  color: #ff5147;
}