.container {
    max-width: fit-content;
}

.col-md-2 {
    margin-top: 140px;
    text-align: justify;
    font-size: xx-large;
}

/*event filter at top of page*/
.whatson-filter {
    padding-left: 80px;
    margin-top: 60px;
}

/*individual event cards*/
.whatson-card {
    min-width: fit-content;
    color: #276174;
}

.card-title {
    color: #ff5147;
}

/*entire column of event cards*/
.g-4 {
    margin-top: auto;
}

.card-text {
    margin-bottom: 0;
}

/*side menu text*/
.sidemenu-items {
    text-decoration-line: none;
    color: whitesmoke !important;
    font-size: x-large;
}

/*side menu text hover*/
.sidemenu-items:hover {
    color: #63FD88 !important;
    text-decoration-line: none;
}

/*side menu*/
.sidebar-nav {
    list-style: none;
}